.homeLayout{
      /* The image used */
    background-image: url("../../assets/maint.jpg");

    /* Full height */
    height: 530px; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    
}



  